<!--<h1>Danh sách sản phẩm</h1>-->
<!--<a routerLink="/product/create">Tạo mới sản phẩm</a>-->
<!--<table>-->
<!--  <tr>-->
<!--    <td>STT</td>-->
<!--    <td>Tên</td>-->
<!--    <td>Giá</td>-->
<!--    <td>Mô tả</td>-->
<!--    <td colspan="2"></td>-->
<!--  </tr>-->
<!--  <tr *ngFor="let product of products; index as i">-->
<!--    <td>{{i + 1}}</td>-->
<!--    <td>{{product.name}}</td>-->
<!--    <td>{{product.price}}</td>-->
<!--    <td>{{product.description}}</td>-->
<!--    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>-->
<!--    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>-->
<!--  </tr>-->
<!--</table>-->
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sản phẩm</th>
    <th scope="col">Giá</th>
    <th scope="col">Mô tả</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>

<!--    <td>-->
<!--      <button [routerLink]="['/product/edit',product.id]" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>-->
<!--      <button [routerLink]="['/product/delete',product.id]" class="btn btn-danger">Delete</button>-->
<!--    </td>-->

  </tr>

  </tbody>
</table>
