
<hr>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Content</th>
    <th scope="col">CreateAt</th>
    <th scope="col">Title</th>
    <th scope="col">Image</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of posts; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{post.content}}</td>
    <td>{{post.createAt | date:"dd-MM-yy"}}</td>
    <td>{{post.title}}</td>
    <td>{{post.image}}</td>
    <td>
      <button [routerLink]="['/posts/edit',post.id]" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
      <button [routerLink]="['/posts/delete',post.id]" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
