<!--<h1>Bài 1</h1>-->
<!--<h1>Change image</h1>-->
<!--<app-pet></app-pet>-->

<!--<h1>Bài 2</h1>-->
<!--<h1>show list product</h1>-->
<!--<app-show-product-list></app-show-product-list>-->

<!--<h1>Bài 3</h1>-->
<!--<h1>calculator simple</h1>-->
<!--<app-calculator-app></app-calculator-app>-->

<!--<h1>Bài 4</h1>-->
<!--<h1>Color Picker</h1>-->
<!--<app-color-picker></app-color-picker>-->

<!--<h1>Bài 5</h1>-->
<!--<h1>Hackker New</h1>-->

<!--<app-hackker-new></app-hackker-new>-->

<!--<h1>Bài 6</h1>-->
<!--<h1>Navbar</h1>-->
<!--<app-footer></app-footer>-->
<!--<app-navbar></app-navbar>-->

<!--<h1>Bài 7</h1>-->
<!--<h1>Name-card</h1>-->
<!--<app-name-card cardName="Hydra-TVH" email="trvahung.nhk.0609@gmail.com" phone="09655966xx"></app-name-card>-->

<!--<h1>Bài 8</h1>-->
<!--<h1>Progress-bar</h1>-->
<!--<app-progress-bar [progress]="0"></app-progress-bar>-->

<!--<h1>Bài 9</h1>-->
<!--<h1>CountDown Timer</h1>-->
<!--<app-countdount start="10"></app-countdount>-->
<!--<h1>TimeLines-App</h1>-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->
<h1>Form Đăng kí</h1>
<app-form-login></app-form-login>
