<br>
<h1>Bài 1</h1>
<h1>Change image</h1>
<app-pet></app-pet>
<br>
<br>
<h1>Bài 2</h1>
<h1>show list product</h1>
<app-show-product-list></app-show-product-list>
<br>
<br>
<br>
<h1>Bài 3</h1>
<h1>calculator simple</h1>
<app-calculator-app></app-calculator-app>
<br>
<br>
<br>
<h1>Bài 4</h1>
<h1>Color Picker</h1>
<app-color-picker></app-color-picker>
<br>
<br>
<h1>Bài 5</h1>
<h1>Hackker New</h1>
<br>
<br>
<app-hackker-new></app-hackker-new>
<br>
<br>
<br>
<h1>Bài 6</h1>
<h1>Navbar</h1>
<app-footer></app-footer>
<app-navbar></app-navbar>
